<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.type.watch" android:required="true" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application android:allowBackup="false" android:icon="@drawable/ic_shift_tracker" android:label="Shift Tracker" android:theme="@style/Theme.ShiftTrackerWear">
        <meta-data android:name="com.google.android.wearable.standalone" android:value="false" />
        <activity android:name=".WearMainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WearUpdateActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="shifttracker" android:host="wear-update" />
            </intent-filter>
        </activity>
        <service android:name=".WearStateListenerService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:path="/shift-tracker/action-result" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/shift-tracker/state" />
            </intent-filter>
        </service>
        <service android:name=".WearUpdateReceiver" android:exported="true" android:foregroundServiceType="dataSync"><intent-filter><action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" /><data android:scheme="wear" android:host="*" android:pathPrefix="/shift-tracker/update/wear/" /></intent-filter><intent-filter><action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" /><data android:scheme="wear" android:host="*" android:path="/shift-tracker/update/wear/apk" /></intent-filter></service>
        <receiver android:name=".WearBreakAlarmReceiver" android:exported="false" />
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true"><meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" /></provider>
        <service android:name=".ShiftTrackerWearTileService" android:exported="true" android:label="Shift Tracker" android:permission="android.permission.BIND_TILE_PROVIDER">
            <intent-filter><action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" /></intent-filter>
        </service>
        <service android:name=".ShiftTrackerComplicationService" android:exported="true" android:label="Shift Tracker" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT,LONG_TEXT" />
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="0" />
        </service>
    </application>
</manifest>
